$fontsize-standar: 24px;
$colorbasement: white;
$bordergray: rgb(155, 155, 155);
$titles-size-desk: 12rem;
$titles-size-tablet: 10rem;
$titles-size-tablet-mini: 7rem;
$titles-size-mobile: 4rem;
$titles-size-mobile-mini: 3rem;