html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Basement Grotesque',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input, textarea, button{
  font-family: 'Basement Grotesque',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: 'Basement Grotesque';
  src: url('../public/BasementGrotesque/BasementGrotesque-Black_v1.202.otf');
  font-weight: 400;
  font-style: normal;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
