$fontsize-standar: 24px;
$colorbasement: white;
$titles-size-desk: 12rem;
$titles-size-tablet: 10rem;
$titles-size-tablet-mini: 7rem;
$titles-size-mobile: 4rem;
$titles-size-mobile-mini: 3rem;

.layout{
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  object-fit: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  font-size: $fontsize-standar;
  align-self: center;
}

.b_icon{
  display: none;
}
@media screen and (max-width: 768px) {
  .b_icon{
    display: flex;
  }
  .baselogo{
    display: none;
  }
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.button_header{
  background-color: black;
  color: $colorbasement;
  border: 2px solid $colorbasement;
  border-radius: 30px;
  height: 40px;
  width: 100px;
  cursor: pointer;
}

// ///////////////////////////////////////////
.titles_container{
  padding: 1.5rem 0 1.5rem 0;
}
.home_title{
  font-size: $titles-size-desk;
  text-align: center;
  margin: 0;
}

.home_title2{
  font-size: $titles-size-desk;
  color: black;
  text-align: center;
  -webkit-text-stroke: 2px white; /* width and color */
  margin: 0;
  display: inline;
}
@media screen and (max-width: 1300px) {
  .home_title{
    font-size: $titles-size-tablet;
  }
  .home_title2{
    font-size: $titles-size-tablet;

  }
}
@media screen and (max-width: 1100px) {
  .home_title{
    font-size:$titles-size-tablet-mini;
  }
  .home_title2{
    font-size: $titles-size-tablet-mini;

  }
}
// MOBILE
@media screen and (max-width: 768px) {
  .home_title{
    font-size:$titles-size-mobile;
  }
  .home_title2{
    font-size: $titles-size-mobile;
  }
  .icons{
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .home_title{
    font-size:$titles-size-mobile-mini;
  }
  .home_title2{
    font-size: $titles-size-mobile-mini;
  }
}
.title2_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem
}
.title2_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $colorbasement;
  height: 50px;
  width: 100px;
  border-radius: 50%;
}
.title2_container div h4{
  margin: 0;
}

@media screen and (max-width: 768px) {
  .title2_container div {
    height: 40px;
    width: 60px;
  }
  .title2_container div h4{
    font-size: 12px;
  }
}
